*{
    padding: 0px;
    margin: 0px;
}
header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.menu{
    position: absolute;
}
.menu_items{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.prom{
    color: crimson;
}
.tittle{
    margin-bottom: 20px;
    
}
form{
    display: flex;
}
.principalSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
   
}
article > img{
    width: 200px;
    height: 250px;
}
article > h2{
    text-align: center;
    font-size: medium;

}
article > p{
    text-align: center;
    font-size: small;
}
aside{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer__section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.footer__section2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin-top: 150px;
    margin-bottom: 30px;
}
.footer_section2-lista{
    list-style: none;
    font-weight: bold;
    margin-bottom: 15px;
}
.footer_section2-lista ~ li{
    list-style: none;
}